# ==========================================================
# CODEOWNERS
# GitHub Readme Stats Deployment
# ==========================================================

# Default owner for the entire repository
* @Vishal72021