# --------------------------------------------------
# GitHub Personal Access Token
# Required for GitHub Readme Stats API requests
# --------------------------------------------------
PAT_1=

# --------------------------------------------------
# Application Port
# --------------------------------------------------
PORT=9000

# --------------------------------------------------
# Cache Duration (seconds)
# --------------------------------------------------
CACHE_SECONDS=21600